.trouble {
    margin-left: 37%;
    padding-right: 5px;
}

fw-input {
    width: 60% !important;
}

fw-select {
    width: 29%;
}

.error_div {
    color: #d72d30;
    margin-bottom: 3px !important;
}

#authBtn {
    margin-top: 3px;
}

.red {
    color: #d72d30;
}

.align {
    margin-left: 5px;
    margin-top: 12px;
}
